/*  */
#fondo {
  background: lightslategray;
}

.titulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 3px;
  overflow:-moz-hidden-unscrollable;
  position: relative;
  animation-name: title;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/* @keyframes title {
  0% {
    left: 70%;
    
  }
  50% {
    left: 0%;
  }
  100% {
    left: -70%;
  }
} */
